name: build-cheatsheet

on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build-cheatsheet-pdf:

    name: build-cheatsheet-pdf
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install textlive and pandoc
      run: |
        sudo apt-get install texlive-latex-recommended
        sudo apt-get install texlive-fonts-extra
        sudo apt-get install texlive-lang-greek
        wget https://github.com/jgm/pandoc/releases/download/3.8.3/pandoc-3.8.3-1-amd64.deb
        sudo dpkg -i pandoc-3.8.3-1-amd64.deb

    - name: convert Markdown to PDF
      run: |
        pandoc CHEATSHEET.md -o CHEATSHEET.pdf

    - name: create release page and upload artifact
      if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v2
      with:
        files: |
          CHEATSHEET.pdf
        make_latest: true
        body: |
          # Automated building and uploading of the CHEATSHEET.pdf from updated keymaps
