name: build-cheatsheet

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'CHEATSHEET.md'

jobs:
  build-cheatsheet-pdf:

    name: build-cheatsheet-pdf
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install pandoc
      run: |
        wget https://github.com/jgm/pandoc/releases/download/3.8.3/pandoc-3.8.3-1-amd64.deb
        sudo dpkg -i pandoc-3.8.3-1-amd64.deb

    - name: check diff - abort if none
      id: gitcheck
      run: |
        echo "ismodified"=$(if git diff-index --quiet HEAD CHEATSHEET.md; then echo "false"; else echo "true"; fi) >> $GITHUB_OUTPUT

    - name: convert Markdown to PDF
      if: steps.gitcheck.outputs.ismodified == 'true'
      run: |
        pandoc CHEATSHEET.md -o CHEATSHEET.pdf
        
    - name: upload new cheat sheet PDF
      run: |
        node .github/html2pdf.js

    - name: create release page and upload artifact
      uses: softprops/action-gh-release@v2
      with:
        files: |
          CHEATSHEET.pdf
        make_latest: true
        body: |
          # Automated building and uploading of the CHEATSHEET.pdf from updated keymaps

